<ion-tabs >
  <ion-tab-bar slot="bottom" color="dark" class="mytabs">
    <ion-tab-button   tab="tab1" routerLinkActive="active" routerLink="/tabs/tab1">
      <ion-icon color="danger"   name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button  tab="tab2" routerLinkActive="active" routerLink="/tabs/tab2">
      <ion-icon color="danger"  aria-hidden="true" name="earth"></ion-icon>
    </ion-tab-button>

    <ion-tab-button  tab="tab3" routerLinkActive="active" routerLink="/tabs/tab3">
      <ion-icon color="danger"   aria-hidden="true" name="heart"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
