<app-header title="Busqueda de Animes"></app-header>

<ion-content [fullscreen]="true" color="dark">
<ion-searchbar color="light" cancelButtonText="" cancelButtonIcon="search"  placeholder="Buscar..." (ionInput)="buscar($event)" [debounce]="350" ></ion-searchbar>

<ion-grid >
  <ion-row>
@for (anime of encontrados; track anime.mal_id) {
    <ion-col sizeXs="6" sizeSm="3" sizeMd="3" sizeLg="2">
     <app-card-anime [animeInfo]="anime"  ></app-card-anime>
    </ion-col>
  }
@if (!sinData) {
  <ion-grid fixed>
    <ion-row>
      <ion-col offset="3" size="6" class="ion-text-center">
        <h1>Busca tu anime favorito!!!</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
}
@if (sinData && encontrados.length ===0) {
  <ion-grid fixed>
    <ion-row>
      <ion-col offset="3" size="6" class="ion-text-center">
        <h1>No hay resultados para tu busqueda!!!</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
}
  </ion-row>
</ion-grid>

</ion-content>
