  <app-header title="Mas populares"></app-header>

<ion-content [fullscreen]="true" color="dark">

 @if (load === false) {
  <div class="ion-text-center">
    <ion-spinner style="width: 150px !important; height: 150px !important;"
     color="danger" name="bubbles"></ion-spinner>
  </div>}
  <ion-grid >
    <ion-row>
@for (anime of listaAnimes; track anime.mal_id) {
      <ion-col sizeXs="6" sizeSm="3" sizeMd="3" sizeLg="2">
       <app-card-anime [animeInfo]="anime"  ></app-card-anime>
      </ion-col>
    }
    </ion-row>
  </ion-grid>



</ion-content>
